.filter {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 60rem;
  margin: auto;
  justify-content: flex-end;
}

.options,
.search {
  width: 10rem;
  border-radius: 0;
  border: 1px solid #222831;
  font-family: 'Cairo', sans-serif;
  padding: 5px 7px;
  background-color: #eee;
  box-shadow: 1px 1px 10px 1px #22283162;
}
