.topMovies {
  padding: 5rem 2rem 3rem;
  background: linear-gradient(#eee, white);
  /* background-color: #eee; */
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #222831;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

.topMovies h1,
.topMovies h3 {
  width: 60rem;
  margin: auto;
}

.topMovies h3 {
  padding-left: 1rem;
}

.movieList {
  width: 60rem;
  border: 2px solid red;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 0;
}

.movie {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
}

.movie:nth-child(even) {
  background-color: #eee;
}

.poster {
  width: 5rem;
  margin-left: 2rem;
}

.ratingContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 8rem;
}

.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.rating img {
  width: 20px;
}

.saveTag {
  opacity: 0.3;
  width: 30px;
  cursor: pointer;
  margin: 0 2rem 0 3rem;
}

.saveTag:hover {
  opacity: 1;
  box-shadow: inset 0 0 0 80px #ffd369;
}
