.header {
  display: flex;
  padding: 0 5rem;
  align-items: center;
  gap: 0;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #222831;
  z-index: 10;
  filter: drop-shadow(0 0 15px #222831);
}

.title {
  color: #222831;
  margin: 1rem 0;
  background-color: #ffd369;
  padding: 2px 1rem;
  border-radius: 3px;
}

.homeLink:active {
  text-decoration: none;
  color: #eee;
}
