.inTheaters {
  padding: 5rem 2rem 3rem;
  background: linear-gradient(#222831, #222831, #393e46);
  color: #eee;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

.inTheaters h1 {
  color: #ffd369;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0 0 3.5rem;
  text-align: center;
  font-size: 72px;
}

.block {
  margin: auto;
  max-width: 75rem;
  display: flex;
  gap: 1rem;
}

.view {
  width: 68.5%;
  position: relative;
  background-color: black;
}

.thumbnailContainer {
  min-height: 28.7rem;
  background-color: black;
}

.mainBlock {
  position: absolute;
  bottom: 0;
  left: 7%;
  width: 90%;
  background: linear-gradient(rgba(0, 0, 0, 0.151), black);
  backdrop-filter: blur(1px);
  display: flex;
  gap: 3rem;
}

.mainImgContainer {
  position: relative;
  width: 100%;
  max-width: 10rem;
  overflow: hidden;
}

.saveTag {
  position: absolute;
  top: 0;
  left: 7%;
  width: 40px;
  opacity: 0.3;
  cursor: pointer;
}

.saveTag:hover {
  opacity: 0.8;
  box-shadow: inset 0 0 0 80px #ffd369;
}

.textContainer h2 {
  font-size: 42px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  color: #ffd369;
  margin: 0;
}

.plot {
  font-size: 18px;
  margin: 0 3%;
}

.mainPlayTrailer {
  display: flex;
  font-size: 32px;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.247);
  width: 100%;
  padding: 10px;
}

.mainPlayTrailer:hover {
  color: #ffd369;
}

.mainPlayButton {
  width: 65px;
}

.next {
  width: 30%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 40.2rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text p {
  margin: 0;
}

.rating {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.rating img {
  width: 20px;
}

.playTrailer {
  display: flex;
  align-items: center;
  margin: 0;
  line-height: 1.2rem;
  gap: 0.5rem;
  cursor: pointer;
}

.playTrailer:hover {
  color: #ffd369;
}

.playButton {
  width: 38px;
}

.movie {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.555), #222831a4);
  padding: 10px;
}

.imgContainer {
  position: relative;
  width: 100%;
  max-width: 7rem;
  height: 10rem;
  overflow: hidden;
}

.title {
  font-weight: 700;
  margin: 0;
  color: #ffd369;
}

.loadBtn {
  background-color: rgba(0, 0, 0, 0.466);
  border: none;
  font-size: 16px;
  height: 2.7rem;
  font-weight: 700;
  color: #eee;
  cursor: pointer;
  flex-shrink: 0;
}

.loadBtn:hover {
  background-color: rgba(0, 0, 0, 0.658);
  color: #ffd369;
}

.loadBtn:active {
  transform: scale(0.98);
}

@media screen and (max-width: 1024px) {
  .block {
    flex-direction: column;
  }

  .view {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 14 / 9;
  }

  .next {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .inTheaters {
    padding: 5rem 5% 3rem;
  }

  .inTheaters h1 {
    text-align: center;
    font-size: 60px;
  }

  .block {
    flex-direction: column;
  }

  .view {
    width: 100%;
    min-height: 75rem;
  }

  .mainBlock {
    position: static;
    margin: auto auto 20rem;
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 7rem 0 0;
  }

  .mainImgContainer {
    max-width: 350px;
    margin: auto;
  }

  .textContainer h2 {
    font-size: 34px;
    position: absolute;
    top: 1.5rem;
    left: 5%;
  }

  .mainPlayTrailer {
    font-size: 26px;
    position: absolute;
    bottom: -25rem;
  }

  .mainPlayButton {
    width: 50px;
  }

  .next {
    width: 100%;
  }
}

@media screen and (max-width: 436px) {
  .inTheaters {
    padding: 5rem 0.5rem 3rem;
  }

  .inTheaters h1 {
    font-size: 46px;
  }
}
