.detailsContainer {
  min-height: 100vh;
  padding: 5rem 2rem 3rem;
  background:
    linear-gradient(#393e46f1, #222831f8),
    linear-gradient(0.25turn, #393e46, #393e4600);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eee;
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

.background {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 130vh;
  z-index: -1;
}

.main {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
}

.header {
  font-size: 50px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  color: #ffd369;
}

.subHeader {
  color: hsl(0, 0%, 70%);
  margin-left: 1rem;
}

.rating {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  line-height: 1rem;
}

.rTitle {
  color: hsl(0, 0%, 70%);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

.score {
  font-size: 26px;
}

.votes {
  font-size: 14px;
  line-height: 1px;
  color: hsl(0, 0%, 70%);
}

.rating p {
  margin: 0;
}

.rating div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  margin: 0.5rem 0.5rem 0 0;
}

.rate {
  display: flex;
  flex-direction: column;
}

.star {
  width: 40px;
}

.pictures {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  gap: 0.5rem;
}

.posterContainer {
  position: relative;
  display: flex;
}

.poster {
  max-height: 100%;
  max-width: 22rem;
  flex-shrink: 1;
}

.thumbnailContainer {
  width: 70%;
  position: relative;
  background-color: black;
  display: flex;
}

.playTrailer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #eee;
  font-size: 36px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 1rem 2rem;
  line-height: 1.2rem;
  gap: 1rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.274);
  backdrop-filter: blur(1px);
  width: 100%;
}

.playTrailer:hover {
  color: #ffd369;
}

.playButton {
  width: 5rem;
}

.saveTag {
  width: 3.5rem;
  position: absolute;
  top: 0;
  left: 1rem;
  opacity: 0.6;
  cursor: pointer;
  transition: all 250ms ease;
}

.saveTag:hover {
  opacity: 1;
  box-shadow: inset 0 0 0 80px #ffd369;
}

.info {
  max-width: 75rem;
  margin: auto auto 5rem;
  display: flex;
  gap: 3rem;
}

.left {
  width: 70%;
}

.genres {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 10px 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

.genre {
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 20px;
  padding: 0 10px;
  font-size: 18px;
}

.plot {
  margin: 0;
  padding: 10px;
  line-height: 1.4rem;
  font-size: 20px;
  font-weight: 300;
}

.creators,
.stars {
  display: flex;
  gap: 0.5rem;
  padding: 10px;
  align-items: center;
}

.creators p,
.stars p {
  margin: 0;
  line-height: 1.4rem;
  font-size: 20px;
  font-weight: 300;
}

.cTitle,
.sTitle {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 2rem 1rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.11), #22283127);
}

.right p {
  margin: 0;
  line-height: 1.3rem;
  font-weight: 300;
}

.right h3 {
  margin: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

.awards,
.releaseDate,
.companies,
.countries {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

hr {
  width: 96%;
  color: hsl(0, 0%, 30%);
}

.cast {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 75rem;
  margin: 0 auto 8rem;
}

.rackContainer {
  max-width: 75rem;
  margin: auto auto 2rem;
}

.castHead,
.rackHead {
  display: flex;
  align-self: flex-start;
  align-items: baseline;
  gap: 0.5rem;
  line-height: 5rem;
  max-width: 75rem;
  margin: 0 0 1rem;
  text-align: left;
}

.castHead h1,
.rackHead h1 {
  font-size: 60px;
  color: #ffd369;
  margin: 1rem 1rem 0 0;
}

.castHead h2,
.rackHead h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  font-size: 42px;
  font-weight: 600;
}

.castList {
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: 0;
  align-self: flex-start;
  padding: 1rem 0;
  row-gap: 2rem;
  column-gap: 5rem;
}

.actor {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.199), #2228314b);
  border-radius: 45%;
  min-width: 380px;
}

.actorInfo h3 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 0;
  font-size: 22px;
  letter-spacing: 0.5px;
}

.actorInfo p {
  margin: 0;
  padding-left: 7px;
}

.imgContainer {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.arrow {
  border-top: 5px solid #eee;
  border-right: 5px solid #eee;
  height: 1.3rem;
  width: 1.3rem;
  transform: rotate(45deg);
  align-self: flex-end;
  margin: 0 0 1.4rem 0.5rem;
}

@media screen and (max-width: 1024px) {
  .detailsContainer {
    padding: 5rem 1rem 3rem;
  }

  .main {
    padding: 1rem 0;
  }

  .header {
    font-size: 38px;
  }

  .subHeader {
    font-size: 14px;
  }

  .rating {
    font-size: 18px;
  }

  .score {
    font-size: 22px;
  }

  .rating div {
    gap: 0.4rem;
    margin: 0.4rem 0 0;
  }

  .rate {
    display: flex;
    flex-direction: column;
  }

  .star {
    width: 30px;
  }

  .pictures {
    flex-direction: column;
    background: linear-gradient(#22283163, rgba(0, 0, 0, 0.658));
  }

  .posterContainer {
    position: relative;
    margin: auto;
  }

  .thumbnailContainer {
    width: 100%;
  }

  .playTrailer {
    font-size: 30px;
  }

  .playButton {
    width: 3.3rem;
  }

  .info {
    flex-direction: column;
    gap: 2rem;
  }

  .left {
    width: 100%;
  }

  .genre {
    font-size: 16px;
  }

  .plot {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
  }

  .creators p,
  .stars p {
    font-size: 18px;
  }

  .cTitle,
  .sTitle {
    font-size: 20px;
  }

  .right {
    width: 100%;
    padding: 2rem 1rem;
  }

  .castHead h1,
  .rackHead h1 {
    font-size: 50px;
    margin: 1rem 0.5rem 0 0;
  }

  .castHead h2,
  .rackHead h2 {
    font-size: 36px;
  }

  .arrow {
    border-top: 4px solid #eee;
    border-right: 4px solid #eee;
    height: 1rem;
    width: 1rem;
    margin: 0 0 1.7rem 0.2rem;
  }
}
